*{
    margin: 0;
    border: none;
    text-decoration: none;
}
body{
    background-color: #1C1E26;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.icon{
    height: 45px;
    width: 45px;
}
.slider{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slide{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    scroll-snap-align: center;
    background: no-repeat;
    background-size: cover;
}
.slider__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 55px;
    height: 75px;
    width: 75px;
}
.right{
    right: 45px;
}
.left{
    left: 45px;
}
.slide__element{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    min-width: 500px;
    color: white;
    font-size: 52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 1px rgb(255, 255, 255, 0.2) solid;
}
.b{
    background-image: url(../img/background/night_w.png);
}
.r{
    background-image: url(../img/background/dawn_w.png);
}