*{
    margin: 0;
    border: none;
    text-decoration: none;
    user-select: none;
}
body{
    background-color: rgb(40, 40, 40);
}
.main__contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.icon{
    height: 45px;
    width: 45px;
}
.slider{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    scroll-snap-align: center;
}
.right{
    right: 45px;
}
.left{
    left: 45px;
}
.slide__element{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    min-width: 500px;
    color: white;
    font-size: 52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 1px rgb(255, 255, 255, 0.2) solid;
}
.back{
    top: 5px;
    left: 5px;
    position: absolute;
    height: 65px;
    width: 145px;
}
.list{
    margin: 100px 0px 75px 0px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.list__element{
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 15px;
    min-height: 54px;
    padding-left: 15px;
    font-size: 24px;
    color: white;
}
.list__element::after{
    transition: .3s;
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    background-color: white;
    height: 2px;
    width: 100%;
}
.list__element:hover::after{
    height: 4px;
    transform: scaleX(1.03);
}
.lection__contents{
    display: flex;
    justify-content: center;
    min-height: calc(100vh);
    padding-top: calc(6vh + 6px);
    background: transparent;
}
.lection__document{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.menu{
    width: 100vw;
    height: 6vh;
    background-color: #3c3c3c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
/* All backgroun style */
.background{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background__lection{
    /* background-image: url(../img/background/purple.jpg); */
    background:
    conic-gradient(from 30deg at 10% 100%,rgba(120, 90, 200, 0.45) 0%,transparent 30%,rgba(170, 130, 230, 0.45) 100%) 0% 55% / 130% 105%,
    linear-gradient(75deg,rgb(120, 90, 200) 0%,rgb(135, 105, 215) 35%,rgb(150, 120, 225) 55%,rgb(165, 135, 235) 75%,rgb(140, 110, 210) 100%);
}
.background__practice{
    background-image: url(../img/background/red.jpg);

}
/* All btn style */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: white;
    height: 100%;
    width: 100%;
}
.slider__btn{
    position: absolute;
    border-radius: 55px;
    height: 75px;
    width: 75px;
}
.back__btn{
    border-radius: 5px;
    font-size: 24px;
}